<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HOME</key>
	<string>TZ_Europe__Paris</string>
	<key>TZ_Asia__Bangkok</key>
	<true/>
	<key>TZ_UTC</key>
	<false/>
</dict>
</plist>
