<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>11C90205-E641-45D7-B41B-093F23B6958A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ja</string>
			<key>text</key>
			<string>Japanese for: {query}</string>
			<key>url</key>
			<string>http://www.romajidesu.com/dictionary/meaning-of-{query}.html</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2E8B622A-4E5B-4C9C-8A75-1A112F7AB352</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>syn</string>
			<key>text</key>
			<string>Thesaurus: {query}</string>
			<key>url</key>
			<string>https://www.thesaurus.com/browse/{query}?s=t</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3A4A3ACC-03F6-4420-815A-B908D59FD879</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>fr</string>
			<key>text</key>
			<string>TV5 : {query}</string>
			<key>url</key>
			<string>https://langue-francaise.tv5monde.com/decouvrir/dictionnaire/e/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>711E1D72-2792-45AA-92F1-DE3C134F0CD3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sy</string>
			<key>text</key>
			<string>Synonymes pour : {query}</string>
			<key>url</key>
			<string>https://crisco2.unicaen.fr/des/synonymes/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>93F6ADDA-A9B8-4134-9495-76BB025D9DDA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>si</string>
			<key>text</key>
			<string>Sinonimios: {query}</string>
			<key>url</key>
			<string>https://www.wordreference.com/sinonimos/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A8BBF835-90BB-46D7-B46B-6CBC38290CDF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>es</string>
			<key>text</key>
			<string>Espanol : {query}</string>
			<key>url</key>
			<string>https://dle.rae.es/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B4EE34DC-A6F9-4E94-80FA-D148D3FE56E0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>en</string>
			<key>text</key>
			<string>Cambridge dictionary for: {query}</string>
			<key>url</key>
			<string>https://dictionary.cambridge.org/dictionary/english/{query}?q=</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CD3A2E50-BE93-4E0B-97AD-896FBE712D8E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tempmail</string>
			<key>text</key>
			<string>Temp Mail</string>
			<key>url</key>
			<string>https://temp-mail.org/</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
