<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ejectKeywordEnabled</key>
	<true/>
	<key>emptytrashKeywordEnabled</key>
	<false/>
	<key>hideKeywordEnabled</key>
	<false/>
	<key>quitKeywordEnabled</key>
	<false/>
	<key>restartConfirm</key>
	<true/>
	<key>shutdownConfirm</key>
	<true/>
	<key>sleepKeywordEnabled</key>
	<false/>
	<key>sleepdisplaysKeyword</key>
	<string>sleep</string>
	<key>volumedownKeywordEnabled</key>
	<false/>
	<key>volumeupKeywordEnabled</key>
	<false/>
</dict>
</plist>
